// スクロール速度の基本値を最小に設定(デフォルトは10)

#define ZMK_POINTING_DEFAULT_SCRL_VAL 1

#include <dt-bindings/zmk/input_transform.h> // これがスクロール機能に必須です
#include <dt-bindings/zmk/reset.h>
#include <mouse-gesture.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_ja_mac.h"  // JIS配列Mac用キーコード (ローカルファイル)

/* * ジェスチャーパターンの設定 (Mac用 - モディファイア修正版) */

&zip_mouse_gesture {
    stroke-size = <100>;
    enable-eager-mode;

    // 左ジェスチャー -> デスクトップ左へ移動 (Mac: Control+Left)

    gesture_left {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LG(LEFT)>;  // MacではLGがControlとして認識される
    };

    // 右ジェスチャー -> デスクトップ右へ移動 (Mac: Control+Right)

    gesture_right {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LG(RIGHT)>;
    };

    // 上ジェスチャー -> Mission Control (Mac: Control+Up)

    gesture_up {
        pattern = <GESTURE_UP>;
        bindings = <&kp LG(UP)>;
    };

    // 下ジェスチャー -> Spotlight検索 (Mac: Command+Space)

    gesture_down {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp LC(SPACE)>;  // MacではLCがCommandとして認識される
    };
};

/ {
    win_mouse_gesture: win_mouse_gesture {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        stroke-size = <100>;
        enable-eager-mode;

        // 左ジェスチャー -> 仮想デスクトップ左へ移動 (Windows: Ctrl+Win+Left)

        gesture_left {
            pattern = <GESTURE_LEFT>;
            bindings = <&kp LC(LG(LEFT))>;
        };

        // 右ジェスチャー -> 仮想デスクトップ右へ移動 (Windows: Ctrl+Win+Right)

        gesture_right {
            pattern = <GESTURE_RIGHT>;
            bindings = <&kp LC(LG(RIGHT))>;
        };

        // 上ジェスチャー -> タスクビュー (Windows: Win+Tab)

        gesture_up {
            pattern = <GESTURE_UP>;
            bindings = <&kp LG(TAB)>;
        };

        // 下ジェスチャー -> Windows検索 (Windows: Win+S)

        gesture_down {
            pattern = <GESTURE_DOWN>;
            bindings = <&kp LG(S)>;
        };
    };

    behaviors {
        // カスタムレイヤータップ: スクロール用 (balanced flavor)

        lt_balanced: lt_balanced {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&mo>, <&kp>;
        };

        // カスタムhold-tap: ホールドでジェスチャー、タップで0キー

        gesture_n0: gesture_n0 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mouse_gesture>, <&kp>;
        };
    };

    macros {
        mac_mode: mac_mode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            // 対象を張り直してから選択し、他ホストの待機接続を切る。
            bindings = <&out OUT_BLE &bt BT_DISC 0 &bt BT_SEL 0
                        &bt BT_DISC 1 &bt BT_DISC 2 &to 1>;
        };

        win_mode: win_mode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&out OUT_BLE &bt BT_DISC 1 &bt BT_SEL 1
                        &bt BT_DISC 0 &bt BT_DISC 2 &to 2>;
        };

        win_bt3_mode: win_bt3_mode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&out OUT_BLE &bt BT_DISC 2 &bt BT_SEL 2
                        &bt BT_DISC 0 &bt BT_DISC 1 &to 2>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bt_clear_current {
            bindings = <&bt BT_CLR>;
            key-positions = <6 7>;
            layers = <0>;
        };

        bt_clear_all {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <10 11>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: マウス専用ベース */

        layer_0 {
            bindings = <
&mac_mode  &win_mode  &win_bt3_mode  &none  &none  &none                        &none      &none           &none           &none            &mouse_gesture  &kt F5
&none      &none      &none          &none  &none  &none                        &none      &none           &mo 5           &mkp LCLK        &mkp RCLK       &mkp MCLK
&none      &none      &none          &none  &none  &none  &none  &kp LG(S)      &none      &none           &kp UP_ARROW    &none            &none           &none
&none      &none      &none          &none  &none  &none  &mo 5  &kp LG(V)      &none      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none           &none
&none      &none      &none          &none  &none  &none  &none  &kp BACKSPACE  &kp ENTER  &none           &none           &mac_mode        &win_mode       &win_bt3_mode
            >;
        };

        /* Layer 1: Mac用マウスレイヤー */

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &mkp MCLK
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &mo 5   &trans  &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans
            >;
        };

        /* Layer 2: Windows用マウスレイヤー */

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &mkp MCLK
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &mo 5   &trans  &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans
            >;
        };

        /* Layer 3: 機能キー + システムリセット (左手側再起動用) */

        layer_3 {
            bindings = <
&sys_reset  &trans   &trans   &trans        &trans        &trans                      &trans      &trans      &trans                    &trans        &kp LC(S)    &bootloader
&trans      &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp HOME    &kp PG_UP   &kp LG(LC(LS(NUMBER_4)))  &kp LC(C)     &kp LC(V)    &kp LC(A)
&trans      &kp F6   &kp F7   &kp F8        &kp F9        &kp F10     &trans  &trans  &kp LEFT    &kp DOWN    &kp UP                    &kp RIGHT     &kp TAB      &trans
&trans      &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp JA_SQT  &kp JA_DQT  &kp JA_GRAVE              &kp JA_TILDE  &kp JA_PIPE  &trans
&trans      &trans   &trans   &trans        &kp DEL       &kp TAB     &trans  &trans  &trans      &trans      &trans                    &trans        &trans       &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        /* Layer 5: スクロールレイヤー */

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        /* Layer 8: 旧Layer 0バックアップ */

        layer_8 {
            bindings = <
&kp ESC    &kp N1            &kp N2        &kp N3    &kp N4    &kp N5                                                    &kp N6       &kp N7    &kp N8            &kp N9          &gesture_n0 0 N0      &kp JA_MINUS
&kp TAB    &kp Q             &kp W         &kp E     &kp R     &kp T                                                     &kp Y        &kp U     &lt_balanced 5 I  &kp O           &kp P                 &kp JA_AT
&kp CAPS   &kp A             &kp S         &kp D     &kp F     &kp G        &kp JA_LBKT          &kp UP_ARROW            &kp H        &kp J     &kp K             &kp L           &kp JA_SEMI           &kp JA_SQT
&kp LSHFT  &kp Z             &kp X         &kp C     &kp V     &kp B        &kp JA_RBKT          &kp DOWN_ARROW          &kp N        &kp M     &kp COMMA         &kp DOT         &mt RIGHT_SHIFT FSLH  &kp JA_UNDER
&kp LCTRL  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp LALT  &kp BSPC  &lt 2 SPACE  &mt LEFT_SHIFT CAPS  &lt 1 LG(LEFT_BRACKET)  &lt 3 ENTER  &kp BSPC  &kp RALT          &kp LEFT_ARROW  &kp RIGHT_ARROW       &kp RIGHT_SHIFT
            >;
        };
    };
};
