#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&trackball_listener {
    // マウスカーソル速度を2/3に調整(遅くする)
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
                        &zip_xy_scaler 2 3
                        &trackball_processor 1 1000>;
    
    scroll_layer: scroll_layer {
        layers = <5>;
        // スクロール速度を1/100に調整、方向を反転
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)
                            &zip_scroll_scaler 1 100
                            &zip_xy_to_scroll_mapper>;
    };
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
